In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [8]:
#import the data and set to pets dataframe
pets = pd.read_csv('train.csv',index_col='AnimalID')
pets.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [9]:
#target column
pets['OutcomeType'].value_counts(normalize=True)

Adoption           0.402896
Transfer           0.352501
Return_to_owner    0.179056
Euthanasia         0.058177
Died               0.007370
Name: OutcomeType, dtype: float64

In [10]:
ohe=OneHotEncoder(use_cat_names=True)

In [11]:
target = ohe.fit_transform(pets['OutcomeType'])
target.head()

/home/antony/.local/share/virtualenvs/Build-Week-2-VY2SEJ-J/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,OutcomeType_Return_to_owner,OutcomeType_Euthanasia,OutcomeType_Adoption,OutcomeType_Transfer,OutcomeType_Died
AnimalID,,,,,
A671945,1,0,0,0,0
A656520,0,1,0,0,0
A686464,0,0,1,0,0
A683430,0,0,0,1,0
A667013,0,0,0,1,0

In [5]:

y = target
X = pets.drop(columns=target)

AttributeError: 'Series' object has no attribute 'OneHotEncoder'