In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [2]:
#import the data and set to pets dataframe
pets = pd.read_csv('train.csv',index_col='AnimalID')
pets.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [3]:
#determine how many unique values each column has to see if it needs to be eliminated
print('Color=',pets['Color'].value_counts().nunique())
print('Animal Type=',pets['AnimalType'].value_counts().nunique())
print('Sex=',pets['SexuponOutcome'].value_counts().nunique())
print('Age=',pets['AgeuponOutcome'].value_counts().nunique())
print('Breed=',pets['Breed'].value_counts().nunique())
print('Name=',pets['Name'].value_counts().nunique())

Color= 93
Animal Type= 2
Sex= 5
Age= 42
Breed= 90
Name= 67

In [4]:
#drop extrenious columns that have to be droped or they can screw up the data or tell the answer
pets = pets.drop(['DateTime','OutcomeSubtype'],axis=1)

In [5]:
#target column
pets['OutcomeType'].value_counts(normalize=True)

Adoption           0.402896
Transfer           0.352501
Return_to_owner    0.179056
Euthanasia         0.058177
Died               0.007370
Name: OutcomeType, dtype: float64

In [6]:
ohe=OneHotEncoder(use_cat_names=True)

In [7]:
#target = ohe.fit_transform(pets['OutcomeType'])
#target.head()
target = 'OutcomeType'

In [8]:

y = pets[target]
X = pets.drop(target,axis=1)

In [9]:
X.head()

,Name,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,
A671945,Hambone,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [10]:
# Train-val split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
pipe1=make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    StandardScaler(),
    LogisticRegression()
)

In [12]:
pipe1.fit(X_train,y_train)

Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['Name', 'AnimalType', 'SexuponOutcome',
                                      'AgeuponOutcome', 'Breed', 'Color'],
                                mapping=[{'col': 'Name',
                                          'data_type': dtype('O'),
                                          'mapping': Walter        1
NaN           2
Ace           3
Cleo          4
Blynken       5
           ...
Duqueza    5518
Kya        5519
Moca       5520
Merce      5521
Denali     5522
Length: 5522, dtype: int64},
                                         {'col': 'AnimalType',
                                          'data_type': dtype('O'),
                                          'mapping': Cat    1
Dog    2
NaN   -2
d...
Length: 1237, dtype: int64},
                                         {'col': 'Color',
                                          'data_type': dtype('O'),
                                          'mapping': Blue/White                   1
White/Cream                  2
White/Brown                  3
Tan                          4
Black/White                  5
                          ...
Black Tabby/Orange         338
Brown/Red Tick             339
White/Blue Tick            340
Tortie Point/Lynx Point    341
NaN                         -2
Length: 342, dtype: int64}])),
                ('simpleimputer', SimpleImputer()),
                ('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [15]:
y_pred=pipe1.predict_proba(X_val)

In [17]:
y_pred

array([[0.38238082, 0.00307153, 0.06488619, 0.26963198, 0.28002948],
       [0.42162011, 0.00841652, 0.06289234, 0.04815165, 0.45891938],
       [0.02080441, 0.03242769, 0.10658035, 0.00880168, 0.83138586],
       ...,
       [0.54357047, 0.00945724, 0.03691119, 0.07270656, 0.33735454],
       [0.15404326, 0.0188152 , 0.09312135, 0.03601327, 0.69800692],
       [0.40627434, 0.00285337, 0.06590849, 0.23623398, 0.28872982]])